<div *ngIf="asama === 1" class="m-24 h-100-p" fxLayout="column" fxLayoutAlign="space-between center">
    <div>
        <p>Bu uygulama sizin veya testi yaptığınız yakınınızın durumunu kesin olarak belirlemez. </p>
        <p>Tek amacımız hastane ve acil servislerdeki yığılmaları önlemek ve bu zor zamanda vatandaşımıza yararlı olmaktır.</p>
    </div>
    <div>
        <mat-slide-toggle
            [checked]="checked">
          Okudum ve Kabul Ettim
        </mat-slide-toggle>
    </div>
    <button class="mb-32 w-100-p" mat-raised-button color="primary">Başla</button>
</div>